.form-group {
    color: @color-black;
    font-size: inherit;
    margin-bottom: 15px;
    & + .form-group {
    }
    label {
        font-size: 1.8rem;
        // font-weight: 300;
        transition: 250ms;
        // span {
        //     color: #D0021B;
        // }
    }
    .control-label {
        display: block;
    }
    &.has-error {
        label {
            color: #D0021B;
        }
    }
    &.form-dropdown {
        z-index: 10;
    }
    @media @max-sm {
        label {
            font-size: 1.4rem;
        }
    }
    @media @sm {
        // margin-bottom: 20px;
        & + .form-group {
        }
    }
    @media @md-min {
        margin-bottom: 20px;
        & + .form-group {
        }
    }
}
.form-control {
    .placeholder(@color-black);
}
.form-control,
.form-control .dropdown-toggle {
    color: @color-black;
    font-size: 1.8rem;
    font-weight: 300;
    border: 1px solid #000;
    box-shadow: none;
    height: 40px;
    line-height: 30px;
    border-radius: 0;
    background-color: #fff;
    transition: 250ms;
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
        border-color: #000;
    }
    textarea& {
        height: auto;
        line-height: initial;
    }

    .has-error & {
        color: #D0021B;
        background-color: #FFD7DC;
    }
    @media @max-sm {
        font-size: 1.4rem;
        height: 34px;
        line-height: 24px;
    }
    @media @sm {
        // height: 50px;
        // line-height: 40px;
    }
    @media @sm-min {
        textarea & {
            height: auto;
        }
    }
    @media @md-min {
        // height: 55px;
        // line-height: 45px;
    }
}
.form-horizontal {
    @media @xs {
        .control-label {
            
        }
    }
    @media @sm-min {
        .control-label {
            text-align: left;
            padding-top: 10px;
            padding-right: 0;
        }
    }
}

.bootstrap-select {
    .dropdown-toggle {
        color: #fff;
        border: none;
        background-color: inherit;
        outline: none !important;
        .caret {
            right: 15px;
        }
        &:hover {
            color: rgba(255, 255, 255, .8);
            background-color: inherit;
        }
        &:focus,
        &:active {
            color: rgba(255, 255, 255, .8);
            outline: none !important;
        }
    }
    .dropdown-menu {
        font-size: inherit;
        border-radius: 0;
        border: none;
        padding: 7px 0;
        background-color: #fff;
        > li {
            > a {
                color: @color-black;
                font-weight: bold;
                padding-top: 5px;
                padding-bottom: 5px;
                &:focus,
                &:active {
                    outline: none;
                }
            }
        }
        > .active {
            > a, 
            > a:focus, 
            > a:hover {
                color: #fff;
                background-color: #AAB8BB;
            }
        }
    }
    .caret {
        width: 10px;
        height: 10px;
        margin-top: 0;
        border: 1px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg) translate(-50%, -25%);
    }
    &.dropup .caret {
        border: 1px solid #fff;
        border-bottom: none;
        border-left: none;
        transform: rotate(-45deg) translate(0, -25%);
    }
    &.open {
        .dropdown-toggle {
            color: #fff;
            background-color: inherit;
            outline: none !important;
            box-shadow: none;
            &:hover {
                color: #fff;
                background-color: initial;
            }
            &:focus,
            &:active {
                color: #fff;
                background-color: inherit;
                outline: none;
                box-shadow: none;
            }
        }
    }
    &.btn-group {
        .dropdown-toggle {
            .caret {

            }
        }
    }
}
.select-bordered {
    background: none;
    .dropdown-toggle {
        color: @color-black;
        border: 1px solid @border-gray2;
        .caret {
            right: 15px;
        }
        &:hover {
            color: rgba(0, 0, 0, .8);
        }
        &:focus,
        &:active {
            color: rgba(0, 0, 0, .8);
        }
    }
    .caret {
        border-color: @color-black;
    }
    &.dropup .caret {
        border-color: @color-black;
    }
    &.open {
        .dropdown-toggle {
            color: @color-black;
            &:hover {
                color: @color-black;
            }
            &:focus,
            &:active {
                color: @color-black;
            }
        }
    }
    &.btn-group {
        .dropdown-toggle {
            .caret {

            }
        }
    }
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    line-height: 1;
    position: relative;
    padding-left: 1.2em;
    input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        left: 0;
        top: 0;
    }
    label,
    span.box {
        transition: 250ms;
    }
    span.box {
        display: inline-block;
        width: .9em;
        height: .9em;
        border: none;
        // margin: -.2em 1em 0 -1em;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: @bg-blue-light;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    }
    input:checked + span.box {
        background-color: @color-blue;
        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            left: 35%;
            right: 35%;
            top: 35%;
            bottom: 35%;
        }
    }

    .has-error & {
        span.box {
            border-color: #D0021B;
        }
    }
}

.radio,
.radio-inline {
    span.box,
    span.box:before {
        border-radius: 50%;
    }
}

.radio-inline,
.checkbox-inline {
    margin-right: 15px;
}