<template>
  <div>
    <base-container>
      <account-container
        :title="employmentData.name"
        action-title=""
      >
        <div>
          <div class="employment-detail">
            <a-row :gutter="20">
              <a-col :lg="{ span: 12 }">
                <div v-if="!employmentData || !employmentData.thumbnailUrl" class="employment-img-wrapper">
                  <div class="no-img dp-flex jtf-ct-center al-it-center">
                    ไม่มีภาพ
                  </div>
                </div>
                <a-carousel v-else arrows dots-class="slick-dots slick-thumb">
                  <a slot="customPaging">
                    <img :src="employmentData.thumbnailUrl">
                  </a>
                </a-carousel>
              </a-col>
              <a-col class="pd-t-20px-max-lg" :lg="{ span: 12 }">
                <div>
                  <div class="title">
                    ข้อมูลส่วนตัวการจ้างงาน
                  </div>
                  <div class="content">
                    <div class="item">
                      <span class="header-title">ชื่อ : </span>
                      <span class="detail">{{ employmentData.name || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">ประเภทงาน : </span>
                      <span class="detail">{{ employmentType(employmentData.employmentType) }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">เพิ่มเติม : </span>
                      <span class="detail">{{ employmentData.detail || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">จำนวนคนงาน : </span>
                      <span class="detail">{{ employmentData.numWokers | numberComma }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">เบอร์โทรศัพท์ : </span>
                      <span class="detail">{{ employmentData.user.phoneNumber || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">Email : </span>
                      <span class="detail">{{ employmentData.user.email || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">Facebook : </span>
                      <span class="detail">{{ employmentData.user.facebookId || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">Line : </span>
                      <span class="detail">{{ employmentData.user.lineId || '-' }}</span>
                    </div>
                  </div>
                </div>
                <div class="address">
                  <div class="title">
                    ที่ตั้ง
                  </div>
                  <div class="content">
                    <div class="item">
                      <span class="header-title">{{ employmentData.address || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">แขวง/ตำบล : </span>
                      <span class="detail">{{ employmentData.subDistricts && employmentData.subDistricts.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">เขต/อำเภอ : </span>
                      <span class="detail">{{ employmentData.districts && employmentData.districts.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">จังหวัด : </span>
                      <span class="detail">{{ employmentData.province && employmentData.province.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">รหัสไปรษณีย์ : </span>
                      <span class="detail">{{ employmentData.postalCode || '-' }}</span>
                    </div>
                  </div>
                </div>
              </a-col>
            </a-row>
          </div>
        </div>
      </account-container>
    </base-container>
    <a-modal v-model="modalVisible" centered destroy-on-close :footer="null" :body-style="{ padding: '0' }">
      <img class="w-100pct" :style="{ maxHeight: '800px' }" :src="previewImg" alt="preview-image">
    </a-modal>
  </div>
</template>
<script>
import { get } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
export default {
  layout: 'gray-background',
  components: {
    AccountContainer
  },
  middleware: 'authenticated',
  data () {
    return {
      modalVisible: false,
      previewImg: '',
      id: this.$route.params.id
    }
  },
  computed: {
    employmentData: get('employment/employment')
  },
  async fetch ({ store, params: { id } }) {
    try {
      await store.dispatch('employment/fetchEmployment', id)
    } catch (e) {

    }
  },
  mounted () {
  },
  methods: {
    previewImage (url) {
      this.previewImg = url
      this.modalVisible = true
    },
    onClose () {
      this.modalVisible = false
    },
    employmentType (type) {
      if (type === 'HARVEST') {
        return 'เก็บเกี่ยว'
      } else if (type === 'CUT') {
        return 'ตัด'
      } else {
        return '-'
      }
    }
  }
}
</script>

<style lang="less" scoped>
.employment-detail {
  padding: 40px 0;
  @media only screen and (min-width: 992px) {
    padding: 40px 80px;
  }
  .title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 10px;
    color: #424242;
  }
}
.employment-img-wrapper {
  .no-img {
    height: 303px;
    min-width: 100%;
    max-width: 303px;
    border: 1px solid #EBEBEB;
  }
}

.content {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px;
  }
  .item {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 5px 0;
  }
  .detail {
    font-weight: 500;
    &.green {
      color: #43be39
    }
    &.red {
      color: #e34955
    }
  }
}

.table-auction-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px;
  }
  .auction-table {
    .ant-table-wrapper {
      background: white;
      border-radius: 4px;
      border-top-left-radius: 0px;
      /deep/ .ant-table-thead > tr > th {
        background: white;
      }
    }
  }
}

.title-wrapper {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  .title {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 500
  }
}
.pd-t-20px-max-lg {
  @media only screen and (max-width: 991px) {
    padding-top: 20px;
  }
}
</style>

<style scoped>
/* Vue AntD - corousel */
.ant-carousel >>> .slick-list {
  width: 100%;
}
.ant-carousel >>> .slick-dots {
  height: auto
}
.ant-carousel >>> .slick-slide .show-image{
  border: 5px solid #FFF;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ant-carousel >>> .slick-thumb {
  position: static;
  bottom: -45px;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel >>> .slick-thumb li.slick-active img{
  filter: grayscale(0%);
}
</style>
